.git/
.github/
.devcontainer/
.idea/
.vscode/
.gitignore
.env

.venv/
venv/
build/
dist/
__pycache__/
.ruff_cache/
*.pyc
*.egg-info/
*.egg
*.whl

*.pid
*.lock

redis/tls
redis/data

k8s/
docker/
docker-compose*.yml

*.md
LICENSE
postman/
docs/
scripts/
