.vscode/
.vscode/settings.json
.ruff_cache/
.idea
.env

venv/
.venv/
build/
dist/
__pycache__/
*.pyc
*.egg-info/
*.egg
*.whl
prd/


redis/tls
redis/data

# Kubernetes deployment files
k8s/00-secrets-deploy.yaml
k8s/02-netpulse-deploy.yaml

*.pid
*.lock
drafts/
site/
docs-local/
site*

# Paramiko driver examples config
examples/paramiko-driver/common.py


