.vscode/
.vscode/settings.json
.ruff_cache/
.idea
.env

venv/
.venv/
build/
dist/
__pycache__/
*.pyc
*.egg-info/
*.egg
*.whl

redis/tls
redis/data

*.pid
*.lock
drafts/
site/
docs-local/
tests/
site*


